// Should be loaded by every RNASeq process.
params {
  /*
  Parameters that MUST be supplied
  */
  gldsAccession = GLDS-194 // GeneLab Data Accession Number, e.g. GLDS-104
  ensemblVersion = 96 // ensembl version to use for reference genome, should work as far back as ensembl 80, TODO: replace with source non-specific name
  ref_source = ensembl // designates the source of the reference files, e.g. ensembl, ensembl_plants
  annotation_path = 'https://figshare.com/ndownloader/files/35939642'


  /*
  Parameters that CAN be overwritten
  */
  runsheetPath = false
  referenceStorePath = './References' // dicates where the reference fasta, gtf, these are shared across processing runs
  derivedStorePath = './DerivedReferences' // dicates where the derived references files such as built index files are stored, shared across processing runs
  outputDir = "." // the location for the output from the pipeline (also includes raw data and metadata)
  publish_dir_mode = "link" // method for creating publish directory.  Default here for hardlink
  tracedir = "${ params.outputDir }/pipeline_info"
  ref_order = 'primary_assemblyELSEtoplevel' // supported options: 'toplevel' (use toplevel) , 'primary_assemblyELSEtoplevel' (use primary assembly but fallback on toplevel if it doesn't exist)

  // can be set to the path of a local gtf and fasta
  ref_fasta = null
  ref_gtf = null

  /*
  DEBUG parameters, should NOT be overwritten for production processing runs
  */
  genomeSubsample = 19 // Subsamples the reference fasta and gtf to a single sequence (often representing a single chromosome)
  truncateTo = 100 // Subsamples the raw reads files to the specified number of reads for EACH raw reads file.
  limitSamplesTo = false // Limits the number of samples to process.  This currently is incompatible with running the DESeq2 task which requires all samples 
  stageLocal = true // Indicates if the raw read files should be staged for processing. Disabling is useful for checking the metadata staging without running any actual data processing.
  skipVV = false // if true, VV will not be performed
  force_single_end = false

  multiqcConfig = "${projectDir}/config/modules/multiqc.config"

  quality {
    rseqc_sample_count = 15000000
  }

  // Print help menu
  // Should only be overridden at CLI
  help = false

  // For now, this particular is good for all organisms listed on the file.
  organismCSV = "${projectDir}/assets/organisms.csv"
  raw_reads_root_dir = "00-RawData"
}
