includeConfig 'config/default.config' // default config for RNASeq RCP workflow
profiles {

    // Default run mode, uses local executor and conda ymls packaged with pipeline
    standard {
        includeConfig 'config/executor/default_local.config'
        includeConfig 'config/software/by_conda_yml.config'
    }

    // Default slurm based run mode
    // Ideally, one would fine tune the slurm config to their cluster
    slurm {
        includeConfig 'config/executor/default_slurm.config'
    }

    tools_by_conda_yml {
        includeConfig 'config/software/by_conda_yml.config'
    }
}

manifest {
    homePage = 'https://github.com/J-81/masterProject'
    description = 'RNA-Seq Pipeline for Document GL-DPPD-7101-C'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    version = '0.2.1'
}
