params {
  // Should be overwritten to indicate main storage location
  // This is useful for non-dataset specifics like reference genome builds and associated files.
  //analysisDirPath = "GLDS-194"

  // GLDS accession ID
  // ** PROVIDE ON CLI **
  gldsAccession = false

  // *******************************************
  // * STAGING PARAMETERS **********************
  // *******************************************

  // Dicatates whether to download from the URL to local
  stageLocal = false
  // either the MB to download for each raw read file
  // Or set to False to disable
  truncateTo = false
  limitSamplesTo = false

}
