// Should be loaded by every RNASeq process.
params {
  /*
  Parameters that MUST be supplied
  */
  gldsAccession = null // GeneLab Data Accession Number, e.g. GLDS-104
  ensemblVersion = null // ensembl version to use for reference genome, should work as far back as ensembl 80

  /*
  Parameters that CAN be overwritten
  */
  storeDirPath = './References' // dicates where the reference fasta, gtf, and built index files are stored, shared across processing runs
  outputDir = "." // the location for the output from the pipeline (also includes raw data and metadata)
  publish_dir_mode = "link" // method for creating publish directory.  Default here for hardlink
  tracedir = "${params.outputDir}/pipeline_info"
  ref_order = 'primary_assemblyELSEtoplevel' // supported options: 'toplevel' (use toplevel) , 'primary_assemblyELSEtoplevel' (use primary assembly but fallback on toplevel if it doesn't exist)


  /*
  DEBUG parameters, should NOT be overwritten for production processing runs
  */
  genomeSubsample = false // Subsamples the reference fasta and gtf to a single sequence (often representing a single chromosome)
  truncateTo = false // Subsamples the raw reads files to the specified number of reads for EACH raw reads file.
  limitSamplesTo = false // Limits the number of samples to process.  This currently is incompatible with running the DESeq2 task which requires all samples 
  stageLocal = true // Indicates if the raw read files should be staged for processing. Disabling is useful for checking the metadata staging without running any actual data processing.
  skipVV = false // if true, VV will not be performed

  quality {
    rseqc_sample_count = 150000
  }

  // Print help menu
  // Should only be overridden at CLI
  help = false

  // For now, this particular is good for all organisms listed on the file.
  organismCSV = "${projectDir}/assets/organisms.csv"
}
