// Should be loaded by every RNASeq process.  Most values should be overwritten.

env {
     VV_LIB_PATH = "/home/joribello/Documents/OneDrive/NASA/Fall2020/project/V-V_scripts/JDO_V-V"
     PYTHONPATH = "$VV_LIB_PATH:$PYTHONPATH"
}

params {
  // used for debugging to limit samples used
  // default value here means no limit
  limiter = -1

  // Should be overwritten to indicate main storage location
  // This is useful for non-dataset specifics like reference genome builds and associated files.
  storeDirPath = null

  // Should be overwritten to indicate dataset specific location.
  // This is often named after the GLDS being processed. e.g. "GLDS-104"
  publishDirPath = null

  // Should be overwritten to indicate whether study is paired end or not
  pairedEnd = null
  // Should be overwritten to indicate what organism the reads (and reference genomes) are from.
  organism = null

  // For subsampling genome, useful for low memory and quicker testing.
  // Set to false to skip subsampling (should be skipped in production runs)
  genomeSubsample = 19

  // Should not be overwritten.  Preserve same structure across multiple datasets.
  rawDataPath = "00-RawData"
  trimmedDataPath = "01-TG_Preproc"
  starOutputPath = "02-STAR_Alignment"
  rsemOutputPath = "03-RSEM_Counts"
  deseq2NormPath = "04-DESeq2_NormCounts"
  deseq2DgePath = "05-DESeq2_DGE"
  metaDataPath = "Metadata"
  rseqQCPath = "RSeQC_analyses"

  // TODO: Remove and replace with proper GeneLab API scripts
  GLDS_URL_PREFIX = 'https://genelab-data.ndc.nasa.gov/genelab/static/media/dataset/GLDS-104_rna_seq_'
  GLDS_URL_SUFFIX = '?version=1' // Assumption that these raw files are always version 1

  // Should be overwritten if a specific build file should used.
  // ensembl parameters for genome and annotations
  genomeFasta = false
  genomeGTF = false

  // Should be overwritten to indicate which ensembl version to use
  ensembl_version = null

  // TODO: replace with parsing via ISA.
  // Maybe preserve in case one would like to override with specific samples.
  samples = ['sample1',
             'sample2']

  // TODO: replace with API call to grab ISA file.
  // For now, should be overwritten to provide path is ISA metadata zip.
  ISAZip = null

  // TODO: likely replace with directly parsing ISA file.
  // For now, this particular is good for all organisms listed on the file.
  organismCSV = 'https://github.com/J-81/test-datasets/raw/rnaseq/organisms.csv'

  // Deprecated: Used to supply raw read locations directly.
  raw_reads = false
}
