// Should be loaded by every RNASeq process.  Most values should be overwritten.
params {

  // For subsampling genome, useful for low memory and quicker testing.
  // 19 is the smallest chromosome in mice (of the numbered chromosomes)
  genomeSubsample = false
  storeDirPath = 'References'
  stageLocal = true
  outputDir = false // if left false, set to launch dir TODO: make this default w/o assiging param in workflow

  // Print help menu
  // Should only be overridden at CLI
  help = false

  // if true, VV will not be performed
  skipVV = false

  // Should be overwritten to indicate which ensembl version to use
  ensemblVersion = null

  // TODO: likely replace with directly parsing ISA file.
  // For now, this particular is good for all organisms listed on the file.
  organismCSV = 'https://github.com/J-81/test-datasets/raw/rnaseq/organisms.csv'

}
