// Designed for GLDS-104

params {
  // used for debugging to limit samples used
  // default value (-1) means no limit
  limiter = -1

  GLDS = 194
  datasetName = "GLDS-${GLDS}"

  storeDirPath = 'References'
  // publishDirPath = "GLDS-${GLDS}"

  pairedEnd = true
  ERCC = true
  organismSci = "Mus_musculus"
  organismNonSci = "MOUSE"

  // For subsampling genome, useful for low memory and quicker testing.
  // 19 is the smallest chromosome in mice (of the numbered chromosomes)
  genomeSubsample = 19

  ensemblVersion = 96

  organismCSV = 'https://github.com/J-81/test-datasets/raw/rnaseq/organisms.csv'

  /* VV settings
  */
  // only supply if using custom parameter set or non-default parameter set from VV module
  vvParamsFile = ""
  vvParamSet = ""
  // Minimum VV Flag Level to halt pipeline
  /* FROM: VV's flagging.py
  FLAG_LEVELS = {
    20:"Info-Only",
    30:"Passed-Green",
    49:"Proto-Warning-Yellow",
    50:"Warning-Yellow",
    59:"Proto-Warning-Red",
    60:"Warning-Red",
    90:"Issue-Halt_Processing"
    }
  */
  vvHaltLevel = 90

}
// TODO: remove for production runs.  This ignores errors and finishes any unblocked tasks.
process {
  errorStrategy = "terminate"
}
