// Config that specifies packaged conda yml files for each process

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    withName: 'TO_PRED|TO_BED' {
        container = "quay.io/biocontainers/ucsc-gtftogenepred:377--ha8a8165_5"
    }

    withName: 'INFER_EXPERIMENT|GENEBODY_COVERAGE|INNER_DISTANCE|READ_DISTRIBUTION' {
        container = "quay.io/biocontainers/rseqc:4.0.0--py37h8902056_2"
    }

    withName: 'SORT_INDEX_BAM|SUBSAMPLE_GENOME' {
        container = "quay.io/biocontainers/samtools:1.15--h1170115_1"
    }

    // withName: 'DGE_BY_DESEQ2|QUANTIFY_GENES' {
    //     conda = "${projectDir}/envs/RNAseq_Rtools.yml"
    // }

    withName: 'FASTQC' {
        container = "quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
    }

    withName: 'MULTIQC' {
        container = "quay.io/j_81/gl_multiqc:gl_multiqc"
    }

    withName: 'TRIMGALORE' {
        container = "quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0"
    }

    withName: 'DOWNLOAD_GENOME_ANNOTATIONS|GENERATE_METASHEET' {
        container = "quay.io/j_81/gl_images:genelab_utils_v1.0"
    }

    withName: 'BUILD_STAR|ALIGN_STAR' {
        container = "quay.io/biocontainers/star:2.7.10a--h9ee0642_0"
    }

    withName: 'BUILD_RSEM|COUNT_ALIGNED' {
        container = "quay.io/biocontainers/rsem:1.3.1--pl526r341h4f16992_0"
    }

    // withName: 'SOFTWARE_VERSIONS' {
    //     conda = "${projectDir}/envs/genelab_utils.yml"
    // }

    withName: 'RNASEQ_RUNSHEET_FROM_GLDS|POST_PROCESSING' {
        container = "quay.io/j_81/dp_tools:development"
    }

    withLabel: 'VV' {
        container = "quay.io/j_81/dp_tools:development" // TODO: replace with version tagged image
    }
    
    withName: 'GET_MAX_READ_LENGTH|ASSESS_STRANDEDNESS' {
        container = "python:3.8.13"
    }

}
